.container h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #343a40;
    font-weight: 700;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
    width: 100%;
    max-width: 500px;
    margin: 'auto';
}

.container h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #343a40;
    font-weight: 700;
}

.card {
    width: 300px; /* Establece un ancho fijo */
    height: 400px; /* Establece una altura fija */
    overflow: hidden; /* Oculta el contenido que exceda el tamaño */
    display: flex; /* Usar flexbox para alinear el contenido */
    flex-direction: column; /* Organizar el contenido en columnas */
}

.card-body {
    flex-grow: 1; /* Permite que el cuerpo de la tarjeta ocupe el espacio restante */
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; /* Asegura que los elementos se distribuyan adecuadamente */
}

.card-text {
    flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
