/* Home.css */

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.container h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #343a40;
    font-weight: 700;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas antes de truncar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}