.profile-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card-profile {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 900px; 
}

.mb-3,
.mb-4 {
    margin-bottom: 20px !important;
}

button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text-center {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
}

@media (max-width: 767px) {
    .card-profile {
        padding: 20px;
    }

    .text-center {
        font-size: 24px;
    }
}